<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- $Id: plugin.xml 87 2007-02-04 14:51:16Z matsufuji $ -->
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Piece"
            id="com.piece_framework.piece_ide">
      </category>

      <wizard
            name="Piece Project"
            category="com.piece_framework.piece_ide"
            class="com.piece_framework.piece_ide.wizard.NewPieceProjectWizard"
            icon="icons/sample.gif"
            id="com.piece_framework.piece_ide.wizard"
            project="true" >
         <description>
            A wizard that creates a new Piece Project
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.piece_framework.piece_ide.flow_designer.ui.editor.FlowDesignerEditor"
            contributorClass="com.piece_framework.piece_ide.flow_designer.ui.editor.FlowDesignerActionBarContributor"
            default="true"
            extensions="flow"
            icon="icons/sample.gif"
            id="com.piece_framework.piece_ide.flow_designer.ui.editor.FlowDesignerEditor"
            name="Flow Designer"/>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.piece_framework.piece_ide.flow_designer.editorActions"
            targetID="com.piece_framework.piece_ide.flow_designer.editor">
         <menu
               label="フローデザイナー"
               id="flowDesignerMenu">
            <separator
                   name="flowDesignerGroup">
            </separator>
         </menu>
         <action
               label="ファイナルステート"
               icon="icons/sample.gif"
               class="com.piece_framework.piece_ide.flow_designer.editor_actions.FinalStateAction"
               menubarPath="flowDesignerMenu/flowDesignerGroup"
               id="com.piece_framework.piece_ide.flow_designer.editor_actions.FinalStateAction">
         </action>
         <action
               label="アクションステート"
               icon="icons/sample.gif"
               class="com.piece_framework.piece_ide.flow_designer.editor_actions.ActionStateAction"
               menubarPath="flowDesignerMenu/flowDesignerGroup"
               id="com.piece_framework.piece_ide.flow_designer.editor_actions.ActionStateAction">
         </action>
         <action
               label="ビューステート"
               icon="icons/sample.gif"
               class="com.piece_framework.piece_ide.flow_designer.editor_actions.ViewStateAction"
               menubarPath="flowDesignerMenu/flowDesignerGroup"
               id="com.piece_framework.piece_ide.flow_designer.editor_actions.ViewStateAction">
         </action>
         <action
               label="イニシャルステート"
               icon="icons/sample.gif"
               class="com.piece_framework.piece_ide.flow_designer.editor_actions.InitialStateAction"
               menubarPath="flowDesignerMenu/flowDesignerGroup"
               id="com.piece_framework.piece_ide.flow_designer.editor_actions.InitialStateAction">
         </action>
       </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.piece_framework.piece_ide.flow_designer.ui.editor.FlowDesignerEditor"
            labelProvider="com.piece_framework.piece_ide.flow_designer.ui.property.FlowElementLabelProvider"
            typeMapper="com.piece_framework.piece_ide.flow_designer.ui.property.FlowElementTypeMapper">
         <propertyCategory category="StateCategory"/>
         <propertyCategory category="FlowCategory"/>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="com.piece_framework.piece_ide.flow_designer.ui.editor.FlowDesignerEditor">
         <propertyTab
               category="StateCategory"
               id="StateTab"
               label="一般"/>
         <propertyTab
               category="FlowCategory"
               id="FlowTab"
               label="一般"/>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="com.piece_framework.piece_ide.flow_designer.ui.editor.FlowDesignerEditor">
         <propertySection
               class="com.piece_framework.piece_ide.flow_designer.ui.property.StateSection"
               id="StateSection"
               tab="StateTab">
            <input type="com.piece_framework.piece_ide.flow_designer.model.State"/>
         </propertySection>
         <propertySection
               class="com.piece_framework.piece_ide.flow_designer.ui.property.FlowSection"
               id="FlowSection"
               tab="FlowTab">
            <input type="com.piece_framework.piece_ide.flow_designer.model.Flow"/>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
