<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- $Id: plugin.xml 87 2007-02-04 14:51:16Z matsufuji $ -->
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%Manifest.Category.Name"
            id="com.piece_framework.piece_ide">
      </category>

      <wizard
            name="%Manifest.Wizard.Name"
            category="com.piece_framework.piece_ide"
            class="com.piece_framework.piece_ide.wizard.project.NewPieceProjectWizard"
            icon="icons/Project.gif"
            id="com.piece_framework.piece_ide.wizard"
            project="true" >
         <description>
            %Manifest.Wizard.Description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
</plugin>
