<h4 class="date-header">{title}</h4>
<p>First Name: {user.firstName}</p>
<p>Last Name: {user.lastName}</p>
<form name="Confirmation">
  <input type="hidden" name="{__flowExecutionTicketKey}" value="{__flowExecutionTicket}" />
  <p>
    <input type="submit" name="{__eventNameKey}_DisplayFormFromDisplayConfirmation" value="reedit" flexy:if="!useAHAH" />
    <input type="submit" value="reedit" name="{__eventNameKey}_DisplayFormFromDisplayConfirmation" onclick="sendAHAHReqeust(this, 'content');return false;" flexy:if="useAHAH" />
    <input type="submit" name="{__eventNameKey}_ProcessRegisterFromDisplayConfirmation" value="register" flexy:if="!useAHAH" />
    <input type="submit" value="register" name="{__eventNameKey}_ProcessRegisterFromDisplayConfirmation" onclick="sendAHAHReqeust(this, 'content');return false;" flexy:if="useAHAH" />
  </p>
</form>
