<h4 class="date-header">{title}</h4>
<form name="Form" id="Form">
  <input type="hidden" name="{__flowExecutionTicketKey}" value="{__flowExecutionTicket}" id="flowExecutionTicket" />
  <p class="error" flexy:if="__RegistrationResults.isError(#firstName#)">{__RegistrationResults.getErrorMessage(#firstName#)}</p>
  <p>
    First Name: <input type="text" name="firstName" id="firstName" />
  </p>
  <p class="error" flexy:if="__RegistrationResults.isError(#lastName#)">{__RegistrationResults.getErrorMessage(#lastName#)}</p>
  <p>
    Last Name: <input type="text" name="lastName" id="lastName" />
  </p>
  <p>
    <input type="submit" name="{__eventNameKey}_ProcessConfirmFormFromDisplayForm" value="confirm" flexy:if="!useAHAH" />
    <input type="submit" value="confirm" name="{__eventNameKey}_ProcessConfirmFormFromDisplayForm" onclick="sendAHAHReqeust(this, 'content');return false;" flexy:if="useAHAH" />
  </p>
</form>
