<h4 class="date-header">{title}</h4>

<p class="message">Try to reload this page after starting each *exclusive* flow execution.</p>

<h1>A.&nbsp;Registration Examples</h1>
<ol>
  <li><a href="{__appRootPath}/register-with-non-exclusive-mode.php" target="_blank">An application component for registration. <strong>*non-exclusive*</strong></a></li>
  <li><a href="{__appRootPath}/register-with-exclusive-mode.php?{__flowExecutionTicketKey}={__continuation.getFlowExecutionTicketByFlowID(#/register-with-exclusive-mode.php#)}" target="_blank" flexy:if="__continuation.getFlowExecutionTicketByFlowID(#/register-with-exclusive-mode.php#)">An application component for registration. <strong>*exclusive*</strong></a><a href="{__appRootPath}/register-with-exclusive-mode.php" target="_blank" flexy:if="!__continuation.getFlowExecutionTicketByFlowID(#/register-with-exclusive-mode.php#)">An application component for registration. <strong>*exclusive*</strong></a></li>
  <li><a href="{__appRootPath}/register-with-exclusive-mode-and-ahah.php?{__flowExecutionTicketKey}={__continuation.getFlowExecutionTicketByFlowID(#/register-with-exclusive-mode-and-ahah.php#)}" target="_blank" flexy:if="__continuation.getFlowExecutionTicketByFlowID(#/register-with-exclusive-mode-and-ahah.php#)">An application component with <strong>AHAH</strong> for registration. <strong>*exclusive*</strong></a><a href="{__appRootPath}/register-with-exclusive-mode-and-ahah.php" target="_blank" flexy:if="!__continuation.getFlowExecutionTicketByFlowID(#/register-with-exclusive-mode-and-ahah.php#)">An application component with <strong>AHAH</strong> for registration. <strong>*exclusive*</strong></a></li>
</ol>

<h1>B.&nbsp;Authentication Example</h1>
<ol>
  <li><a href="{__appRootPath}/authenticate.php?{__flowExecutionTicketKey}={__continuation.getFlowExecutionTicketByFlowID(#/authenticate.php#)}" target="_blank" flexy:if="__continuation.getFlowExecutionTicketByFlowID(#/authenticate.php#)">An application component for authentication. <strong>*exclusive*</strong></a> <a href="{__appRootPath}/authenticate.php" target="_blank" flexy:if="!__continuation.getFlowExecutionTicketByFlowID(#/authenticate.php#)">An application component for authentication. <strong>*exclusive*</strong></a></li>
  <li><a href="{__appRootPath}/protected-resource.php" target="_blank">A protected resource. <strong>*non-exclusive*</strong></a></li>
</ol>
