<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <link rel="stylesheet" type="text/css" href="{__appRootPath}/css/default.css" media="screen,projection" />
    <title>Piece_Unity Examples</title>
    <script type="text/javascript" src="{__appRootPath}/js/window_operation.js"></script>
    <script type="text/javascript" src="{__appRootPath}/js/ahah.js"></script>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <h1>Piece_Unity Examples</h1>
      </div><!-- close #header -->
      <div id="content">
        {__content:h}
      </div><!-- close #content -->
      <div id="footer">
        <p>Copyright &copy; 2007 KUBO Atsuhiro &lt;iteman at users dot sourceforge dot net&gt;, All rights reserved.</p>
      </div><!-- close #footer -->
      <div class="clear"></div>
    </div><!-- close #page -->
  </body>
</html>
