<h4 class="date-header">{title}</h4>
<p class="message" flexy:if="message">{message}</p>
<p>Try to login as Guest with guest/guest.</p>
<form name="Form">
  <input type="hidden" name="{__flowExecutionTicketKey}" value="{__flowExecutionTicket}" />
  <input type="hidden" name="callback" value="{callback:h}" />
  <p class="error" flexy:if="__AuthenticationResults.isError(#loginName#)">{__AuthenticationResults.getErrorMessage(#loginName#)}</p>
  <p>
    Login Name: <input type="text" name="loginName" />
  </p>
  <p class="error" flexy:if="__AuthenticationResults.isError(#password#)">{__AuthenticationResults.getErrorMessage(#password#)}</p>
  <p>
    Password: <input type="password" name="password" />
  </p>
  <p>
    <input type="submit" name="{__eventNameKey}_ProcessLoginFromDisplayForm" value="login" />
  </p>
</form>
