<h4 class="date-header">{title}</h4>
<h2>A &gt;&gt; <u>B</u> &gt;&gt; C</h2>
<h3>Page B.</h3>
<p><a href="{__scriptName}?{__flowExecutionTicketKey}={__flowExecutionTicket}&{__eventNameKey}=DisplayCFromDisplayB">&gt;&gt;&nbsp;Go the next page.</a><p>
<p><a href="{__scriptName}?{__flowExecutionTicketKey}={__flowExecutionTicket}&{__eventNameKey}=DisplayAFromDisplayB">&lt;&lt;&nbsp;Back the previous page.</a><p>
<p><a href="{__appRootPath}/authenticate.php?{__flowExecutionTicketKey}={__continuation.getFlowExecutionTicketByFlowID(#/authenticate.php#)}&{__eventNameKey}=ProcessLogoutFromDisplayHome">Logout</a></p>
