<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <link rel="stylesheet" type="text/css" href="{__appRootPath}/css/application.css" media="screen,projection" />
    <link rel="stylesheet" type="text/css" href="{__appRootPath}/css/print.css" media="print">
    <title>Piece_Unity Examples</title>
    <script type="text/javascript" src="{__appRootPath}/js/ahah.js"></script>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <h1>Piece_Unity Examples</h1>
      </div><!-- close #header -->
      <div id="container">
        <p class="message" flexy:if="!__continuation.checkLastEvent()">Sorry, this page does not support the browser's back, forward, and reload buttons. Click a submit button on a form or a link.</p>
        {__content:h}
      </div><!-- close #content -->
      <div id="footer">
        <p>Copyright &copy; 2007 Piece Project, All rights reserved.</p>
      </div><!-- close #footer -->
      <div class="clear"></div>
    </div><!-- close #page -->
  </body>
</html>
