<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.xtext.ui.core.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="mapper"
            id="com.piece_framework.piece_ide.piece_orm.mapper.Mapper"
            name="Mapper Editor">
      </editor>
   </extension>
 <extension
       point="org.eclipse.xtext.service.ui.serviceRegistrationFactory">
    <serviceRegistrationFactory
          class="com.piece_framework.piece_ide.piece_orm.mapper.MapperUiConfig"/>
 </extension>
 <extension
         point="org.eclipse.ui.preferencePages">
		<page
			class="org.eclipse.xtext.service.ui.ServiceInjectingExecutableExtensionFactory:org.eclipse.xtext.ui.core.editor.preferences.LanguageRootPreferencePage/com.piece_framework.piece_ide.piece_orm.mapper.Mapper"
			id="com.piece_framework.piece_ide.piece_orm.mapper.Mapper"
			name="Mapper">
			<keywordReference
				id="com.piece_framework.piece_ide.piece_orm.mapper.ui.ui.keyword_Mapper">
			</keywordReference>
		</page>
		<page
		    category="com.piece_framework.piece_ide.piece_orm.mapper.Mapper"
		    class="org.eclipse.xtext.service.ui.ServiceInjectingExecutableExtensionFactory:org.eclipse.xtext.ui.core.editor.preferences.EditorPreferencePage/com.piece_framework.piece_ide.piece_orm.mapper.Mapper"
		    id="com.piece_framework.piece_ide.piece_orm.mapper.Mapper.editor"
		    name="Editor">
		    	<keywordReference 
           			id="org.eclipse.xtext.keyword.editor">
     			</keywordReference>
		</page>
      </extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="com.piece_framework.piece_ide.piece_orm.mapper.ui.ui.keyword_Mapper"
			label="Mapper">
		</keyword>
		<keyword
            id="com.piece_framework.piece_ide.piece_orm.mapper.Mapper.tasktags"
            label="Task Tags">
        </keyword>
	</extension>
</plugin>
